<div class='page-header'>
	<h3>
		<a ng-show='selected_post.link' href="{{ selected_post.link }}">{{selected_post.title}}</a>
		<span ng-hide='selected_post.link' href="{{selected_post.link}}">{{selected_post.title}}</span>
	</h3>
	<span>
		<a href="#/posts/{{index}}">Comments</a>
	</span>
</div>
<div class="comments">
	<div ng-repeat='comment in selected_post.comments | orderBy: "-upvotes"'>
		<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
		{{comment.upvotes}} - by {{comment.author}}
		<span style='font-size: 20px; margin-left: 10px;'>
			{{ comment.body }}
		</span>
	</div>
</div>